extends ../layout/layout

block head-scripts
    script(src='/assets/js/ouvidoria.js')

block head-stylesheets
    link(rel="stylesheet", href="/assets/css/game.css")

block content
    .col-sm-9
        h1 Game
            .text-center
                button#fightMonster.btn.btn-danger Fight monster

    .col-sm-3#heroes-bar
        h1 Heroes
            a#createHero.btn.btn-success.pull-right Add new

        #heroes(style='position: relative;  font-family: sans-serif;')
            mixin progress-bar (color, now, min, max, regen)
                .progress
                    .progress-bar(class='progress-bar-'+color, role='progressbar', aria-valuenow=now, aria-valuemin=min, aria-valuemax=max, style='width: ' + (100 * now / max) + '%')
                        span.show= now + " / " + max + " (+" + regen + ")"

            mixin hero-card (hero)
                .hero(aria-oid=hero._id)
                    .panel(class="panel-success")
                        .panel-heading
                            | (Lvl.
                            span.hero-level #{hero.level}
                            |)&nbsp;
                            span.hero-name #{hero.name}
                            span.hero-gender  #{hero.genderChar}
                            a.pull-right.hero-info(aria-oid=hero._id, href='#')
                                i.glyphicon.glyphicon-info-sign
                        .panel-body
                            + progress-bar('danger hp-bar', hero.combat.hp.current, 0, hero.combat.hp.total, hero.combat.hp.regen)
                            + progress-bar('info mana-bar', hero.combat.mp.current, 0, hero.combat.mp.total, hero.combat.mp.regen)
                            + progress-bar('warning stamina-bar', hero.combat.stamina.current, 0, hero.combat.stamina.total, hero.combat.stamina.regen)

                            .hero-selection(style='color: #337ab7')
                                span.selected
                                    if (user.currentHero._id.toString() == hero._id.toString())
                                        | Selected
                                    else
                                        a.select-hero(data-id="#{hero._id}", href='#') Select

                                .pull-right
                                    a.delete-hero(data-id="#{hero._id}", href='#') Delete

            if (user.currentHero)
                +hero-card(user.currentHero)

            for hero in user.heroes
                if (hero._id.toString() != user.currentHero._id.toString())
                    +hero-card(hero)


    .hero-template.hidden
        .panel.panel-success
            .panel-heading
                | (Lvl.
                span.hero-level 0
                |)&nbsp;
                span.hero-name Name
                span.hero-gender +
                a.pull-right.hero-info(aria-oid='', href='#')
                    i.glyphicon.glyphicon-info-sign
            .panel-body
                .progress
                    .progress-bar(class='progress-bar-danger hp-bar', role='progressbar', aria-valuenow=0, aria-valuemin=0, aria-valuemax=0, style='width: 100%')
                        span.show 0 / 0 (+0.0)
                .progress
                    .progress-bar(class='progress-bar-info mp-bar', role='progressbar', aria-valuenow=0, aria-valuemin=0, aria-valuemax=0, style='width: 100%')
                        span.show 0 / 0 (+0.0)
                .progress
                    .progress-bar(class='progress-bar-warning stamina-bar', role='progressbar', aria-valuenow=0, aria-valuemin=0, aria-valuemax=0, style='width: 100%')
                        span.show 0 / 0 (+0.0)

                .hero-selection(style='color: #337ab7')
                    span.selected
                        a.select-hero(data-id='', href='#') Select

                    .pull-right
                        a.delete-hero(data-id='', href='#') Delete


    .modal.hero-modal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4 Hero info
                .modal-body
                    - var hero = user.currentHero
                    if (hero)
                        include ./heroes/info-partial

                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close


    script(type='text/javascript').
        // var currentHero = !{JSON.stringify(user.currentHero || null)} ;
        $(function () {
            $(".hero-modal").modal();
            $(".hero[aria-oid='" + ((currentHero != undefined) ? currentHero : "") + "']").addClass("current-hero");

            $("#fightMonster").on("click", function () {
                $.post("/game/combat/json/random", function (data) {
                    console.log(data);
                });


            });

            $("#createHero").on("click", function () {
                $.post("/game/heroes/json/new", function(data) {
                    alertify.alert("New hero '" + data.name + "' added to your army.");
                });
            });

            $("body").on("click", "a.select-hero", function () {
                $.post("/game/heroes/json/selectHero", {
                    id: $(this).attr('data-id')
                }, function (data) {
                    console.log(data);
                });
            });

            $("body").on("click", "a.hero-info", function () {
                var hero_id = $(this).attr("aria-oid"); 

                $.get("/game/heroes/info/" + hero_id, function (data) {
                    console.log(data);
                    var params = {
                        title: $(".hero-name", $("div[aria-oid='" + hero_id + "'")).html(),
                        body: data.html,
                        buttons: [{
                            label: 'Close',
                            class: 'btn-default',
                            extraFields: {'data-dismiss': 'modal'}
                        }]
                    };

                    $("#informative").inform(params).modal();
                });
            });

            $("body").on("click", "a.delete-hero", function () {
                var hero_id = $(this).attr("data-id");
                var hero = $(".hero[aria-oid='" + hero_id + "']");
                alertify.confirm("Are you sure you wanna permanently erase your hero? All equipments and knowledge he holds will be erased from the world. Are you sure you want to continue?" +
                        " (Heroes corpses can (or will in the future) be retrieved by friendly heroes and looted by hostile ones)", function (confirm) {
                    if (confirm) {
                        $.ajax({
                            url: "/game/heroes/json/deleteHero/" + hero_id,
                            type: "DELETE",
                            success: function (result) {
                                if (result.success) {
                                    alertify.alert($(".hero-name", hero).html() + " is gone forever. Goodbye, rest in peace.");
                                    hero.remove();
                                }
                            }
                        });
                    }
                });
            });
        });