extends ../../../layout/layout

block head-stylesheets
  link(href='/css/plugins/select2/select2.css', rel='stylesheet')
  link(href='/css/plugins/select2/select2-bootstrap.css', rel='stylesheet')

block head-scripts
  script(src='/js/plugins/select2/select2.js')

block content
  .col-md-12
    form#mapForm.form-horizontal(role='form', action='#', method='post')
      input(type='hidden', name='name', id='name')
      .row
        .col-md-6
          h4 Map: #{map.title}
          .row-fluid
            .form-group
              label.col-sm-2.control-label(for='maptitle') Title
              .col-sm-10
                input.form-control(id='title', name='title', value=map.title)
            .form-group
              label.col-sm-2.control-label(for='area') Area
              .col-sm-10
                input.form-control(id='area', name='area', value=map.area)
            .form-group
              label.col-sm-2.control-label(for='type') Type
              .col-sm-10
                input.form-control(id='type', name='type', value=map.type)
            .form-group
              label.col-sm-2.control-label(for='warps') Warps
              .col-sm-10
                input.form-control(id='warps', name='warps', multiple='true')
                //option(value="", selected="selected") Choose adjacent maps

        .col-md-6
          h4 Monsters
          mixin formset(monster, rate)
            .formset.row-fluid
              .col-sm-6
                .form-group
                  label.control-label(for='monster_' + monster.mobID) Monster
                  select.form-control.mob-select(id='monster_' + monster.mobID, name='monster_' + monster.mobID)
                    option(value=monster._id)=monster.name + " #" + monster.mobID
                    for mob in monsters
                      option(value=mob._id)=mob.name + " #" + mob.mobID
              .col-sm-3.col-sm-offset-1
                .form-group
                  label.control-label(for='rate_' + monster.mobID) Rate
                  input.form-control(id='rate_' + monster.mobID, name='rate_' + monster.mobID, value=rate)
              .col-sm-1.col-sm-offset-1
                .form-group
                  label.control-label Remove
                  button.btn.btn-danger.form-control
                    i.glyphicon.glyphicon-minus

          mixin formset(id)
            .formset.row-fluid
              .col-sm-6
                .form-group
                  label.control-label(for='monster_' + id) Monster
                  select.form-control.mob-select(id='monster_' + id, name='monster_' + id)
                    option(value="")
                    for mob in monsters
                      option(value=mob._id)=mob.name + " #" + mob.mobID
              .col-sm-3.col-sm-offset-1
                .form-group
                  label.control-label(for='rate_' + id) Rate
                  input.form-control(id='rate_' + id, name='rate_' + id)
              .col-sm-1.col-sm-offset-1
                .form-group
                  label.control-label Remove
                  button.btn.btn-danger.form-control
                    i.glyphicon.glyphicon-minus

          if (map.monsters.length > 0)
            for entry in map.monsters
              +formset(entry.mob, entry.rate)
            +formset(i)
          else
            for i in [1,2,3]
              +formset(i)

          .form-group
            button.btn.btn-default(type='button') Add another

        .row-fluid
          .col-sm-6
            .form-group
              button.form-control.btn.btn-block.btn-success#saveMap(type='button') Save map

  p=map.warps

  script(type='text/javascript').
    var warps = !{JSON.stringify(map.warps)}

    $("#saveMap").on("click", function () {
      // alert($("#warps").val());
      // console.log($("#warps").val());
      $("#mapForm").submit();
    });
    $(".mob-select").select2({
      placeholder: "Select a monster",
    });

    $("#warps").select2({
      ajax: {
        url: "/game/json/maps?fields=_id name title",
        dataType: 'json',
        delay: 250,
        processResults: function (data, params) {
          var results = [];
          for (var map in data) {
            map = data[map];
            results.push({id: map._id, text: map.title, slug: map.title});
          }

          return {
            results: results
          };
        },
        data: function () {
          var warps = $("#warps").val().split(',');
          return {
            query: {
              _id: {
                $not: {
                  $in: warps
                }
              }
            }
          }
        },
        cache: true
      },
      multiple: true
    });

    var data = [];
    for (warp in warps) {
        warp = warps[warp];
        data.push({
            id: warp._id,
            text: warp.title,
            slug: warp.title
        });
    }

    $("#warps").select2('data', data);