.row
   .col-sm-8.col-xs-12
      h4.text-center Stats
      .col-sm-6.col-xs-12
         .row.hero-info-stats
            .col-sm-8.text-sm-right.col-xs-6.text-xs-left
               p Strength
               p Dexterity
               p Agility
               p Vitality
               p Intelligence
               p Luck
            .col-sm-4.col-xs-6
               p: strong=hero.str
               p: strong=hero.dex
               p: strong=hero.agi
               p: strong=hero.vit
               p: strong=hero.int
               p: strong=hero.luk
      .col-sm-6
         .row.hero-info-stats
            .col-sm-6.text-right
               p Damage
               p BAT
               p AtT
               p APS
               p Armor
               p Dodge
               p Hit
            .col-sm-6
               p: strong=hero.combat.damage.min + "-" + hero.combat.damage.max
               p: strong=hero.combat.bat
               p: strong=hero.attackTime
               p: strong=hero.attacksPerSecond
               p: strong=hero.combat.armor
               p: strong=hero.combat.flee
               p: strong=hero.combat.hit
   .col-sm-3
      h4.text-right Elements
      .row.hero-info-stats
         .col-sm-6
            p Fire
            p Water
            p Wind
            p Earth
            p Holy
            p Dark
         .col-sm-6
            mixin element(value)
               -var color = (value < 1) ? "text-success" : "text-danger"
               p
                  strong(class=color)=Math.round(value*100) + "%"

            +element(hero.combat.resistances.fire)
            +element(hero.combat.resistances.water)
            +element(hero.combat.resistances.wind)
            +element(hero.combat.resistances.earth)
            +element(hero.combat.resistances.holy)
            +element(hero.combat.resistances.shadow)
hr
.row
   .col-sm-12
      h4.text-center Skills

      for skill in hero.combat.skills
         span
            span.label.skill(class=skill.skill.element, data-toggle="tooltip", data-placement="top", title=skill.skill.description)= skill.skill.displayName + " (" + skill.level + ")"
            = ' '